$mobileLargeScreen: 400px;

.credit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.credit-grid {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none; // For Firefox
  @media screen and (max-width: $mobileLargeScreen) {
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: center;
  }
}

.credit-img {
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
  scroll-snap-align: start;
  @media screen and (max-width: $mobileLargeScreen) {
    width: calc(100% - 0.5rem); // Adjust the width to fit two images
  }
}

.mobile-left-mover, .mobile-right-mover {
  display: none;
  @media screen and (max-width: $mobileLargeScreen) {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
}

.mobile-left-mover {
  left: 0;
}

.mobile-right-mover {
  right: 0;
}

.desktop-mover {
  display: flex;
  position: relative;
  gap: 1rem;
  top: 10rem;
  right: 5rem;
  @media screen and (max-width: $mobileLargeScreen) {
    display: none;
  }
}

.left-mover, .right-mover {
  cursor: pointer;
}